{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "plugins": ["html"],
  "globals": {
    "Polymer": false,
    "WCT": false,
    "Promise": false,
    "require": false
  }
}
